/* Scss Document */
/*---------------------------------
-------- Webforce Indonesia -------
--------- Jonathan & Byran --------
---------- line : zonecapt --------
---------------------------------*/
/* Mixins */
/* Start CSS */
body {
  margin: 0;
  padding: 0; }

#world {
  overflow: hidden; }

#world2 {
  overflow: auto;
  position: absolute; }

#header {
  height: 10%;
  width: 100%;
  position: relative;
  background: #754525;
  float: left;
  z-index: 1000;
  top: 0; }
  #header ul {
    list-style-type: none;
    margin: 0;
    padding: 2em; }
  #header li {
    display: inline;
    margin-right: 1.5em; }
  #header a {
    color: #fff;
    text-decoration: none; }

#navbar {
  z-index: 1000;
  top: 0.7em;
  position: absolute; }

#slide {
  height: 600px;
  position: relative;
  width: 100%;
  float: left;
  backrgound: #fff;
  z-index: -1000; }

#welcome {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 35%;
  position: relative;
  width: 100%;
  float: left;
  background: #754525;
  padding-top: 2em;
  z-index: 1000; }
  #welcome p {
    color: #fff;
    padding-top: 2em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #welcome h1 {
    color: #fff; }

#aboutUs {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 65%;
  position: relative;
  width: 100%;
  float: left;
  margin-bottom: 1em;
  z-index: 1000;
  background: #fff; }
  #aboutUs p {
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; }

#ourTeam {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 30%;
  bottom: 0;
  position: relative;
  width: 100%;
  float: left;
  background: #21120A; }
  #ourTeam h1 {
    color: #fff; }

#teamPerson {
  background: #9B8979;
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 1em;
  left: 50%;
  margin-left: -100px; }

#menu {
  float: left;
  position: relative;
  width: 100%;
  height: 650px;
  background: url(../img/menu.jpg);
  background-size: 100% 100%; }

#foodMenu {
  float: left;
  position: relative;
  width: 100%;
  height: 25%;
  margin-bottom: 2em;
  border-bottom: 1px; }

#product {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  width: 100%;
  float: left; }

#contactus {
  float: left;
  position: relative;
  width: 100%;
  height: 550px;
  background: url(../img/contact-us.jpg);
  background-size: 100% 100%; }

#thankYou {
  float: left;
  position: relative;
  width: 100%;
  top: 50%; }
  #thankYou h1 {
    text-align: center;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9em;
    top: 50%; }

/*# sourceMappingURL=style.css.map */
