/* Scss Document */

/*---------------------------------
-------- Webforce Indonesia -------
--------- Jonathan & Byran --------
---------- line : zonecapt --------
---------------------------------*/

body
{
	margin:0;
	padding:0;
}

header
{
	height:15%;
	position:absolute;
	
	img
	{
		position:absolute;
		left:10%;
	}
}